%footer.footer-2{:role => "contentinfo"}
  .footer-logo
    %img{:alt => "Logo image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}/
  %ul
    %li
      = link_to "Home", root_path
    %li
      = link_to "Blog", storytime_path
    %li
      %a{:href => "javascript:void(0)"} Products
  .footer-secondary-links
    %ul
      %li
        %a{:href => "javascript:void(0)"} Privacy Policy
    %ul.footer-social
      %li
        %a{:href =>  "https://twitter.com/humbledaisy", target: :blank, class: "fa-stack fa-lg"}
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-twitter.fa-stack-1x.fa-inverse
      %li
        %a{:href => "http://github.com/dschmura", target: :blank, class: "fa-stack fa-lg"}
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-github.fa-stack-1x.fa-inverse
      %li
        %a{:href => "http://lnkd.in/VuU9xY", target: :blank, class: "fa-stack fa-lg"}
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-linkedin.fa-stack-1x.fa-inverse